@using Me.StudentManagement.Entity.Enum
@model Me.StudentManagement.Entity.Models.ClassRoom


@{ Layout = "_ScriptLayout";}

<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-header">
                    学生列表
                </div>
                <div class="layui-inline">
                    <form class="layui-form" onsubmit="return false">
                        <div class="layui-form-item layui-col-md12" style="padding-top: 10px">

                            <label class="layui-form-label">年级</label>
                            <div class="layui-input-inline">
                                <div class="layui-input-inline">
                                    <select asp-for="Grade" asp-items="Html.GetEnumSelectList<Grade>()" required lay-verify="required" class="layui-input" lay-filter="studentGrade" placeholder="选择学生班级">
                                        <option placeholder=""></option>
                                    </select>
                                </div>
                            </div>
                            <button class="layui-btn" lay-submit data-type="reload" lay-filter="search-teacher">查询</button>
                            <button type="button" class="layui-btn" data-type="reload" id="search-all">查询全部</button>
                        </div>
                    </form>

                </div>
                <table id="table-page" lay-filter="Teacher"></table>
            </div>
        </div>
    </div>
</div>
<script type="text/html" id="bar">
    <a class="layui-btn layui-btn-xs" lay-event="change-passwd">更新密码</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>

<script>
    var table;
    layui.use(["table","jquery","form"],
        function () {
            var form = layui.form;
            table = layui.table;
            var $ = layui.jquery;
            var tableln = table.render({
                elem: "#table-page",
                height: "520",
                url: "@Url.Action("QueryClassRoom", "DataReadOrWrite")",
                cols: [
                    [
                        { field: "id", width: 60, title: "排名", type: "numbers", fixed: 'left'},
                        { field: "@Html.DisplayNameFor(model=>model.Grade)", width: 80, title: "年级" },
                        { field: "@Html.DisplayNameFor(model => model.ClassRoomName)", width: 70, title: "班级"},
                        { field: "@Html.DisplayNameFor(model=>model.Remark)", width: 70, title: "备注"},
                        { fixed: 'right', title: '操作', toolbar: '#bar', width: 150 }
                    ]
                ],
                initSort: {
                    field: "TotalScore",
                    type: "desc"
                },
                page: true
            });

            $("#search-all").click("click", function (data) {
                tableln.reload({
                    url: "/DataReadOrWrite/QueryClassRoom",
                    where: {state:0},
                    page: { curr: 1 }
                },"data");
            });

            form.on("submit(search-teacher)", function (data) {
                var name = $("#search-name").val();
                var grade = $("#Grade").val();
                var className = $("#ClassName").val();
                console.log(name + grade + className);
                tableln.reload({
                    url: "/DataReadOrWrite/QueryClassRoom",
                    where: {
                        searchName: name,
                        grade: grade,
                        className: className,
                        state:1
                    },
                    page: { curr: 1 }
                },"data");
            });

            table.on("tool(Teacher)",
                function (obj) {
                    var time = Date.now();
                    var data = obj.data;
                    var event = obj.event;
                    if (event === "change-passwd") {
                        layer.open({
                            type: 2,
                            title: '更改密码',
                            area: ['350px', '250px'],
                            skin: 'layui-layer-rim',
                            content: "@Url.Action("ChangePasswordView", "Event")",
                            success: function(layero, index) {
                                var iframe = window['layui-layer-iframe' + index];
                                iframe.child(data);
                            }
                        });
                    } else if (event === "del") {
                        layer.confirm("确定删除吗？",
                            function(index) {
                                obj.del();
                                layer.close(index);
                                console.log(data.Id);
                                var url = "@Url.Action("DeleteUser","DataReadOrWrite")";
                                var datas = {
                                    Identity: "teacher",
                                    UserId: data.Id
                                };
                                AjaxAddForm(url, datas);
                            });
                    }
                });
        });
</script>
